<footer class="footer">
  <div class="container-fluid">
    <div class="footer-row">
      <p class="follow-us">FOLLOW US</p>
      <span class="footer-icons">
        <a href="https://www.facebook.com/Xomad" target="_blank" aria-label="Xomad-facebook"
          ><i class="fab fa-facebook-square"></i
        ></a>
        <a href="https://twitter.com/xomad" target="_blank" aria-label="Xomad-twitter"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://www.instagram.com/xomad/" target="_blank" aria-label="Xomad-instagram"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          href="https://www.linkedin.com/company/xomad/"
          target="_blank"
          aria-label="Xomad-linkedin"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </span>
      <a href="https://xomad.com" aria-label="Xomad"
        ><img
          class="footer-logo img-responsive"
          src="https://content.xomad.com/static_app2/permanent/xomad-lp-2022/XOMAD-logo-crop-1.png"
          alt="xomad-logo"
      /></a>
    </div>
    <div class="footer-row space-between">
      <p>
        <a title="Privacy" href="https://xomad.com/privacy/">Privacy</a
        ><span class="dot">&bull;</span
        ><a class="tos" title="TOS" href="https://theplug.xomad.com/tos">Term of Use</a>
      </p>
      <p>© {{ currentYear }} XOMAD LLC &#8211; All rights reserved.</p>
    </div>
  </div>
</footer>
